body{

    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    min-height: 100vh;
    margin:0;
}
.container{
    
    position: absolute;
    top:100%;
    left:50%;
    transform:translate(-50%, -50%);
    width:60%;
    background:white;
    border-radius:10px;
}
.reg_info{  
   margin-bottom: 5px; 
   padding-bottom: 10px;
   position: relative;
}

.reg_info label{
    display: inline-block;
    margin-bottom: 5px;
}

.reg_info input{
    border:2px solid #f0f0f0;
    border-radius: 4px;
    display:block;
    font-size: 14px;
    padding:10px; 
    font-family: inherit;
    width: 100%;

}


.reg_info.success input{
    border-color: #2ecc71;
}

.reg_info.error input{
    border-color: #e74c3c;
}

.reg_info i{
    position: absolute;
    top:40px;
    right:10px;
    visibility: hidden;
} 

.reg_info.success i.fa-check-circle{
    color:#2ecc71;
    visibility: visible;
}

.reg_info.error i.fa-exclamation-circle{
    color:#e74c3c;
    visibility: visible;
}

.reg_info small{
    visibility: hidden;
    position:absolute;
    bottom: 25px;
    left:0;
}

.reg_info.error small{
    color:#e74c3c;
    visibility: visible;
}
 
